.wrapper {
	margin: 0 auto;
	max-width: 1080px;
	min-height: calc(100vh - 80px);
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
}

.header,
.headerLeft,
.headerRight,
.headerRight li {
	display: flex;
	align-items: center;
}

.header {
	margin-bottom: 40px;
	padding: 45px;
	justify-content: space-between;
	border-bottom: 2px solid var(--border-color-main);

	h1 {
		margin-bottom: 5px;
		font-weight: 700;
		font-size: var(--font-size-l);
		color: #000;
	}

	h2 {
		font-size: var(--font-size-s);
		color: var(--subtitle-color-main);
	}
}

.headerLeft {
	gap: 16px;
}

.headerRight {
	gap: 30px;

	li {
		gap: 10px;
		cursor: pointer;
	}
}

.totalPrice {
	font-weight: 600;
	color: var(--subtitle-color-main);
}