.overlay {
	position: fixed;
	inset: 0 0 0 0;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.15s linear;
}

.overlay.active {
	opacity: 1;
	visibility: visible;
}

.drawer,
.content,
.cardsWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.drawer {
	padding: 30px;
	width: 410px;
	position: fixed;
	top: 0;
	right: -420px;
	z-index: 4;
	background-color: #fff;
	cursor: default;
	transition: right 0.2s ease-in-out;

	@media (max-width: 768px) {
		width: 320px;
	}
}

.drawer.active {
	right: 0;
}

.top {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 700;
	font-size: var(--font-size-xl);
}

.close {
	background-color: transparent;
	display: grid;
	place-items: center;
	font-size: var(--font-size-xxl);
	transition: color 0.2s ease-in-out;

	@media (any-hover: hover) {
		&:hover {
			color: var(--button-color-main);
		}
	}
}

.content {
	overflow-y: auto;
}

.cardsWrapper {
	margin-bottom: 30px;
	align-items: center;
	gap: 15px;
}

.bottom {
	margin-top: auto;

	ul {
		margin-bottom: 30px;
	}

	ul li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: var(--font-size-m);

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		span {
			font-weight: 600;
		}
	}

	button {
		width: 100%;
	}
}