.favorites {
	padding: 0 clamp(0.938rem, calc(-1.071rem + 10.04vw), 3.75rem) clamp(0.938rem, calc(-0.179rem + 5.58vw), 2.5rem);

	h2 {
		margin-bottom: 40px;
		font-weight: 700;
		font-size: var(--font-size-xxl);
	}
}