:root {
	--font-family-main: 'Inter', sans-serif;
	--border-color-main: #f3f3f3;
	--button-color-main: #9dd458;
	--subtitle-color-main: #9d9d9d;

	--font-size-xs: 11px;
	--font-line-xs: 13px;

	--font-size-s: 14px;
	--font-line-s: 17px;

	--font-size-m: 16px;
	--font-line-m: 20px;

	--font-size-l: 20px;
	--font-line-l: 24px;

	--font-size-xl: 24px;
	--font-line-xl: 30px;

	--font-size-xxl: 32px;
	--font-line-xxl: 39px;
}

body {
	padding: clamp(1.25rem, 0.357rem + 4.46vw, 2.5rem);
	font-family: 'Inter', sans-serif;
	background-color: #c4e4fc;
}

.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 210px);
	justify-content: center;
	align-items: center;
	gap: 40px;
}