.content {
	padding-top: clamp(1.875rem, calc(-2.599rem + 22.37vw), 12.5rem);
	display: grid;
	place-items: center;
}

.emoji {
	margin-bottom: 24px;
	width: 70px;
	height: 70px;
}

.title {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: var(--font-size-xl);
}

.subtitle {
	margin-bottom: 70px;
	font-size: var(--font-size-m);
	color: var(--subtitle-color-main)
}