.content {
	padding-top: clamp(1.875rem, calc(-2.599rem + 22.37vw), 12.5rem);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title, .subtitle {
	margin-bottom: 30px;
}

.title {
	font-weight: 600;
	font-size: var(--font-size-xl);
}

.subtitle {
	font-size: var(--font-size-m);
	color: var(--subtitle-color-main)
}